<mat-sidenav-container class="container">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div class="lb-list">
            <a mat-button *ngFor="let p of pages" (click)="openPage(p.path)">
                {{p.path}}
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <p><button mat-button (click)="sidenav.toggle()">Menu</button></p>
        <div (click)="closeNav()" class="container">
            <p routerLink="/">Signature</p>
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>